@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-logo: 'Aharoni';
    --font-code: 'Roboto Mono';
    --font-heading: 'Arial';
    scroll-padding-top: 4rem; /* 调整为与顶栏高度匹配 */
  }
  
  /* 使用字体变量的类 */
  .font-logo {
    font-family: var(--font-logo);
  }
}
